// Sections

.wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 900px;
	padding: 0 20px;
}


// Sections

section + section {
	padding: 110px 0;

	@media screen and (max-width: $bp-m) {
		padding: 50px 0;
	}
}

.dark {
	background: $c-black fixed url('../img/fifty3-home-black_background.jpg');
	color: $c-white;
}

.no-padding {
	padding: 0;
}
