// People page specific styles

.page-people {
	.jokes {
		padding-top: 0;
		
		#joke {
			@extend .emphasis;
			display: none;
			margin-top: 1.5em;
		}
		button {
			margin-top: 0.75em;
			outline: none;
		}
	}
}