// Variables

// Colors
$c-white: 		#FFF;
$c-black: 		#414042;

$c-teal: 		#7EA8AD;
$c-404: 		#786e63;
$c-error:		red;


// Font Stacks
$f-grey-b: 'Greycliff CF Bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-grey-bi: 'Greycliff CF Bold O', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-grey-med: 'Greycliff CF Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$f-grey-medi: 'Greycliff CF Medium O', 'Helvetica Neue', Helvetica, Arial, sans-serif;


// Misc
$header-height: 97px;
$transition: all 300ms ease-in-out;


// Breakpoints
$bp-xl:	1200px;
$bp-l:	1000px;
$bp-m:	775px;
$bp-s:	420px;
$bp-xs:	320px;